.navbar {
    display: flex;           /* Flexbox açılıyor */
    justify-content: flex-end; /* Tüm içerik sağa kayıyor */
    align-items: center;     /* Dikey ortalama */
    padding-right: 3rem; 
}

.navbar .navbar_menu {
    list-style: none;        /* madde işaretlerini kaldır */
    display: flex;           /* menü öğelerini yatay diz */
    gap: 3rem;             /* öğeler arasında boşluk */
    margin: 0;
    padding-right: 2rem;

}
.navbar .navbar_menu li{
    
    width: 158px;
    height: 48px;

}
.navbar .navbar_menu li a{
    text-decoration: none;
    color: #C8A7A7;
        font-family: 'NATS', sans-serif;

        display: flex;            /* ortalamak için flex kullanıyoruz */
    justify-content: center;  /* yatay ortala */
    align-items: center;      /* dikey ortala */
    width: 9rem;             /* genişlik */
    height: 3rem;             /* yükseklik */
    border-radius: 8px;
        
}